.signUpContainer {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}


.signUpBorder {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 3px white;
  padding: 30px 20px 30px 20px;
  border-radius: 3px;
}



.input {
  width: 250px;
  padding: 10px;
  border-radius: 4px;
  border: solid thin rgb(210, 206, 206);
  background-color: transparent;
  position: relative;
  color:white
}



.input:focus {
  outline: none;
}


.input::-webkit-input-placeholder {
  color: rgb(210, 206, 206);
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.input:focus::-webkit-input-placeholder,
.input:valid::-webkit-input-placeholder {
  transform: translateY(-30%) translateY(-10px);
  font-size: 12px;
  opacity: 0.5;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 10px;
  justify-content: center;
}

.AccountButton,.signUpbtn,.AccountToggler {
 padding: 12px 90px 12px 90px;
 margin-top: 10px;
 border: solid white;
 border-radius: 6px;
 font-size: 14px;
 color: white;
 background-color: rgba(255, 255, 255, 0.116);
 cursor: pointer;
}

.signUpbtn {
  margin-top: 18px;
  border-radius: 22px;
  color: white;
  border: none;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 14px;
  font-weight: lighter;
  border: solid 2px;
}
.signUp {
   font-size: 25px;
   font-weight: 670;
   color: white;
   margin-bottom: 4px;
}

.background{
  background-image: url(D:\my-app-expense-tracker\public\login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  text-align: center;
  color: white;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.AccountToggler {
  padding: 12px 69px 12px 69px;
}